<section>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <img src="../../../../assets/login.webp" width="100%">
                    <h5>Card Title </h5>
                <div class="card-text">
                    <p>mcknckjdcnbcbc njc bhufbj cbhjbvcnjvcbvcbjc bhu bkhc bjc jc niud nkjd nid nn nncknmxijdciujdocjiufhiukjcuinhufvcvcoi
                        hjcnbourfhefiugyufcbuycykurenvevd
                    </p>
                    <a href="#" class="btn btn-primary" style="width: 100%;">GO Some Where</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <img src="../../../../assets/login.webp" width="100%">
                    <h5>Card Title </h5>
                <div class="card-text">
                    <p>mcknckjdcnbcbc njc bhufbj cbhjbvcnjvcbvcbjc bhu bkhc bjc jc niud nkjd nid nn nncknmxijdciujdocjiufhiukjcuinhufvcvcoi
                        hjcnbourfhefiugyufcbuycykurenvevd
                    </p>
                    <a href="#" class="btn btn-primary" style="width: 100%;">GO Some Where</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <img src="../../../../assets/login.webp" width="100%">
                    <h5>Card Title </h5>
                <div class="card-text">
                    <p>mcknckjdcnbcbc njc bhufbj cbhjbvcnjvcbvcbjc bhu bkhc bjc jc niud nkjd nid nn nncknmxijdciujdocjiufhiukjcuinhufvcvcoi
                        hjcnbourfhefiugyufcbuycykurenvevd
                    </p>
                    <a href="#" class="btn btn-primary" style="width: 100%;">GO Some Where</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <img src="../../../../assets/login.webp" width="100%">
                    <h5>Card Title </h5>
                <div class="card-text">
                    <p>mcknckjdcnbcbc njc bhufbj cbhjbvcnjvcbvcbjc bhu bkhc bjc jc niud nkjd nid nn nncknmxijdciujdocjiufhiukjcuinhufvcvcoi
                        hjcnbourfhefiugyufcbuycykurenvevd
                    </p>
                    <a href="#" class="btn btn-primary" style="width: 100%;">GO Some Where</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



</section>